name: PR Required Checks

on:
  pull_request:
    branches:
      - main

permissions:
  actions: read
  contents: read
  packages: read
  security-events: write

jobs:
  required-checks:
    uses: orhayoun-eevee/build-workflow/.github/workflows/pr-required-checks-chart.yaml@__BUILD_WORKFLOW_REF__
    with:
      repo_name: __REPO_NAME__
      chart_kind: lib
      enable_codeql: true
      enable_scaffold_drift: true
    secrets:
      gh_app_id: ${{ secrets.GHCR_AUTO_APP_ID }}
      gh_app_private_key: ${{ secrets.GHCR_AUTO_PKEY }}
