name: Publish Chart

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: read
  packages: write

jobs:
  publish-chart:
    uses: orhayoun-eevee/build-workflow/.github/workflows/release-chart.yaml@__BUILD_WORKFLOW_REF__
    with:
      chart_path: .
      release_environment: production
      enable_signing: true
