extends: default
rules:
  line-length:
    max: 200
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: true
  indentation:
    spaces: 2
    indent-sequences: true
  truthy:
    check-keys: false
  comments:
    min-spaces-from-content: 1
  document-start: disable
  document-end: disable
