name: Validate Gold File

on:
  workflow_call:
    inputs:
      working_directory:
        description: 'Directory containing the generate_gold.sh script'
        required: false
        type: string
        default: 'gold'
      script_name:
        description: 'Name of the script to run'
        required: false
        type: string
        default: 'generate_gold.sh'
      chart_path:
        description: 'Path to the helm chart to lint'
        required: false
        type: string
        default: '.'

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: 'latest'

      - name: Lint Helm chart
        run: |
          helm lint ${{ inputs.chart_path }}

      - name: Validate gold file
        working-directory: ${{ inputs.working_directory }}
        run: |
          chmod +x ./${{ inputs.script_name }}
          ./${{ inputs.script_name }} test
